@import "../../styles/style.css";


.main-nav {
    display: block;
    width: 100%;
}

.main-nav-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
}

.main-nav-list__item {
    margin: 0 auto;
    padding: 0 5px;
}

.main-nav-list__item a {
    color: var(--white);
}