@import "../../styles/style.css";


.main-nav {
    display: block;
    width: 100%;
}

.main-nav-list{
    width: 100%;
    display: flex;
    margin: 0;
}

.main-nav-list__item {
    margin: 0 auto;
}

.main-nav-list__item a {
    color: var(--background-color);
}